/* Temas del segundo período*/

.texto{
    
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: black;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.jpg");


}  
.img1{
    
height: 300px;
width: 550px;
background-image: url("circuitoselectricos.jpg");
background-repeat: no-repeat;

}

.img2{


height:300px;
width: 300px;
background-image: url(circuitoelec2.jpg);
}

h3 {text-align: center;

}

.imgingles {


height: 700px;
width: 1000px;
background-image: url(transtorno1.jpg);

}

.imgingles1{


height: 500px;
width: 700px;
background-image: url(transtorno2.jpg);
background-repeat: no-repeat;
}

.imgsociales {


height: 800px;
width: 2000px;
background-image: url(sociales1.jpg);
background-repeat: no-repeat;

 


}
 .imgnexcel1{

height:415px;
width:615px;
background-image: url(excel.JPG);
 }




.imgnexcel2{
height: 281px;
width: 508px;
background-image:url(execel2.png) ;
}

.leonardo{
height: 378px;
width: 391px;
background-image: url(icono.jpg);
background-repeat: no-repeat;

}

.hellokitty{
height: 450px;
width: 450px;
background-image: url(imageen.jpg) ;
background-repeat: no-repeat ;

}



.elhombrearana{
height: 1000px;
width: 2000px;
background-image: url(araña.jpeg) ;
background-repeat:no-repeat;
}


.Sociales{
    height: 1050px;
    width: 1050px;
    background-image: url(Sociales.jpeg);
    background-repeat: no-repeat;
}
.RULE1{
    height: 1050px;
    width: 1050px;
    background-image: url(RULE\ 1.png);
    background-repeat: no-repeat;

}
.RULE2{
    height: 1050px;
    width: 1050px;
    background-image: url(RULE\ 2.png);
    background-repeat: no-repeat;
}
.RULE3{
    height: 1050px;
    width: 1050px;
    background-image: url(RULE\ 3.png);
    background-repeat: no-repeat;
}
.RULE4{
    height: 1050px;
    width: 1050px;
    background-image:url(RULE\ 4.jpeg);
    background-repeat: no-repeat;
    
}
.RULE5{
    height: 1050px;
    width: 1050px;
    background-image: url(RULE\ 5.jpeg);
    background-repeat: no-repeat;
}
.RULE6{
    width: 1050px;
    height: 1050px;
    background-image: url(RULE\ 6.jpeg);
    background-repeat: no-repeat;
}