/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: black;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.jpg");


}  
.img1{
    
height: 300px;
width: 350px;
background-image: url("circuitoselectricos.jpg");




}